/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  // margin-bottom: 1em;
  width: 100%;
  font-family: $global-font-family;
  font-size: 12pt;
  border-collapse: collapse;
  // border: 1px solid $light-gray;

  & + table {
    margin-top: 1em;
  }
}

thead {
  background-color: $lighter-gray;
  border-bottom: 1px solid $light-gray;
}

th {
  // padding: 0.5em;
  font-weight: bold;
  text-align: left;
  border-right: 1px solid $light-gray;
}

td {
  padding: 0 0 0;
  // border-bottom: 1px solid $light-gray;
  // border-right: 1px solid $light-gray;
  ul {
    margin-block-end: 0em;
  }
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 0.75em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    li {
      p {
        // margin-bottom: 1em;
      }
    }
}

tr, td, th {
  vertical-align: middle;
}